/*首页的样式表*/

/*设置导航条的容器*/
.bar-wrapper {
    /*宽度就是屏幕的宽度*/
    /*width: 100%;*/
    /*高度*/
    height: 40px;
    /*设置背景颜色*/
    background-color: #333333;
}

/*设置顶部导航条*/
.bar-wrapper .top-bar {
    height: 100%;
    /*设置居中*/
    line-height: 40px;
}

/*设置左侧导航条*/
.link-bar {
    /*向左浮动*/
    float: left;
}

/*设置右侧工具*/
.info-bar, .cart-bar {
    /*向右浮动*/
    float: right;
}

/*下载app的链接*/
.link-bar .download-app {
    position: relative;
}

/*鼠标移入显示二维码*/
.link-bar .download-app:hover .code {
    display: block;
}

/*设置左侧二维码*/
.link-bar .code {
    /*隐藏二维码*/
    display: none;
    width: 124px;
    height: 150px;
    text-align: center;
    background-color: #ffffff;
    position: absolute;
    left: -40px;
    /*设置阴影*/
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    line-height: 1;
    /*设置层级*/
    z-index: 999;
}

/*设置二维码上方的小三角*/
.link-bar .arrow {
    /*开启绝对定位*/
    position: absolute;
    width: 0;
    height: 0;
    /*设置边框*/
    border: 10px solid #ffffff;
    /*去除上边框*/
    border-top: none;
    /*设置边框的颜色*/
    border-color: transparent transparent #fff;
    /*设置位置*/
    top: -10px;
    /*居中*/
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*设置二维码居中*/
.code img {
    margin: 20px;
}

/*设置二维码下面的文字*/
.link-bar .code span {
    font-size: 14px;
    color: #333333;
}

/*设置超链接的样式*/
.bar-wrapper a {
    /*转换为行内块元素*/
    /*display: inline-block;*/
    float: left;
    /*设置高度*/
    height: 40px;
    /*设置字体大小*/
    font-size: 12px;
    /*设置字体颜色*/
    color: #b0b0b0;
    /*去除下划线*/
    text-decoration: none;
    vertical-align: top;
}

/*设置鼠标移入的样式*/
.bar-wrapper a:hover {
    color: #ffffff;
}

/*设置小竖线|的样式*/
.bar-wrapper .line {
    float: left;
    /*设置|大小*/
    font-size: 12px;
    /*设置|颜色*/
    color: #424242;
    /*设置|左右外边距*/
    margin: 0 6px;
}

/*设置购物车的条*/
.cart-bar {
    /*开启相对定位*/
    position: relative;
}

/*设置购物车鼠标移入效果*/
.cart-bar:hover a {
    /*鼠标移入后背景颜色*/
    background-color: #ffffff;
    /*鼠标移入后字体颜色*/
    color: #ff6700;
}

/*设置购物车的样式*/
.cart-bar a {
    float: none;
    /*转换为块元素*/
    display: block;
    /*设置宽度*/
    width: 120px;
    /*设置垂直居中*/
    text-align: center;
    /*设置背景颜色*/
    background-color: #424242;
    /*把右侧工具往左挤*/
    margin-left: 15px;
    position: relative;
    z-index: 1000;
}

/*设置购物车的下拉框*/
.cart-bar .cart-info {
    /*开启绝对定位,脱离文档流*/
    position: absolute;
    background-color: #ffffff;
    width: 316px;
    height: 0;
    overflow: hidden;
    /*文字水平居中*/
    text-align: center;
    /*文字垂直居中*/
    line-height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    /*右边对齐*/
    right: 0;
    z-index: 999;
    transition: all .3s;

}

/*鼠标移入,显示购物车的详情*/
.cart-bar:hover .cart-info {
    height: 100px;
}


/*头部的wrapper*/
.header-wrapper {
    /*padding-top: 1px;*/
    position: relative;
}

/*设置头部的样式*/
.header {
    height: 100px;
    /*position: relative;*/
}

/*设置logo的样式*/
.header .logo {
    float: left;
    margin-top: 22px;
}

/*设置logo中的链接的样式*/
.logo a {
    display: block;
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    /*background-color: #ff6700;*/
    /*设置背景图片*/
    /*background-image: url("../img/demo1-logo.png");*/
    /*background-position: center center;*/
    background: #ff6700 url("../img/mi-logo.png") center;
}

/*设置头部导航*/
.header-nav {
    width: 790px;
    height: 100px;
    float: left;
    margin-left: 65px;
    line-height: 100px;
    /*position: relative;*/
}

/*设置头部导航中的li*/
.header-nav > .nav > li {
    float: left;
    font-size: 16px;
    padding-right: 20px;
}

/*设置链接的样式*/
.header-nav li a {
    color: #333;
    /*去除下划线*/
    text-decoration: none;
}

/*超链接移入的样式*/
.header-nav li a:hover {
    color: #ff6700;
}

/*左侧的导航条*/
.left-nav {
    /*开启绝对定位*/
    position: absolute;
    height: 440px;
    width: 234px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .6);
    top: 100px;
    /*left: 0;*/
    margin-left: -120px;
    z-index: 999;
}

/*设置链接的样式*/
.left-nav li {
    height: 42px;
    /*垂直居中*/
    line-height: 42px;
}

/*设置超链接的样式*/
.left-nav li a {
    display: block;
    height: 42px;
    color: white;
    font-size: 14px;
    padding-left: 30px;
}

.left-nav li a::after {
    content: '\f105';
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    margin-right: 30px;
}

.left-nav li a:hover {
    background-color: #ff6700;
    color: white;
}

/*设置头部下拉层的样式*/
.header-nav .hide-list {
    /*开启绝对定位*/
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    /*height: 230px;*/
    height: 0;
    overflow: hidden;
    background-color: #ff0;
    /*    增加过度效果*/
    transition: height .3s;
    z-index: 9999;
}

/*鼠标移入后显示隐藏层*/
.header-nav .active-hide:hover ~ .hide-list,
.header-nav .hide-list:hover {
    height: 230px;
    border-top: 1px solid #b0b0b0;
    outline: none;
}

/*设置搜索框*/
.header .search {
    float: right;
    margin-top: 25px;
}

/*设置搜索的表单项*/
.header .search input[type='text'] {
    float: left;
    width: 233px;
    height: 50px;
    border: 1px solid #e0e0e0;
    outline: none;
    font-size: 14px;
    padding: 0 0 0 10px;
}

/*设置获取焦点的样式*/
.header .search input[type='text']:focus,
.header .search input[type='text']:focus + button {
    border-color: #ff6700;
}

.header .search button {
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #616161;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-sizing: content-box;
}

.header .search button:hover {
    color: white;
    background-color: #ff6700;
}

/*设置banner*/
.banner {
    height: 460px;
    background-color: #bfa;
    /*    开启相对定位*/
    position: relative;
}

/*为li开启定位*/
.banner .img-list li {
    position: absolute;
}


/*设置图片的样式*/
.banner img {
    width: 100%;
}

/*设置导航的小点*/
.banner .point {
    position: absolute;
    bottom: 26px;
    right: 34px;
}

.banner .point a {
    /*浮动*/
    float: left;
    width: 6px;
    height: 6px;
    /*边框*/
    border: 2px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .4);
    /*圆角*/
    border-radius: 50%;
    margin-left: 10px;
}

/*点击导航点的样式*/
.banner .point a:hover,
.banner .point .active {
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}

/*设置翻页的按钮*/
.slide a {
    position: absolute;
    width: 41px;
    height: 69px;
    background-image: url("../img/icon-slides.png");
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/*分别设置两个按钮的位置*/
.slide .prev {
    left: 234px;
    background-position: -84px 0;
}

.slide .next {
    right: 0;
    background-position: -125px 0;
}

.slide .prev:hover {
    background-position: 0 0;
}

.slide .next:hover {
    background-position: -42px 0;
}

/*固定定位的导航条*/
.fixed-bar {
    position: fixed;
    height: 199px;
    width: 25px;
    border: 1px solid #f5f5f5;
    top: 300px;

    /*设置50%的right*/
    right: 50%;
    /*设置一个右外边距*/
    margin-right: -640px;
    z-index: 9999;
}

.fixed-bar li {
    height: 39px;
    border-bottom: 1px solid #f5f5f5;
}

.fixed-bar li:nth-child(5) {
    border: none;
}

.fixed-bar li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 39px;
    text-align: center;
    color: #b0b0b0;
    text-decoration: none;
    font-size: 18px;
}

.fixed-bar li a:hover {
    color: #ff6700;
}

/*设置service div*/
.service {
    margin-top: 14px;
}

/*设置左侧快捷图标*/
.service .shortcut {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}

/*快捷图标的li*/
.service .icon-list li {
    float: left;
    position: relative;
}

/*超链接的样式*/
.service .icon-list li a {
    display: block;
    width: 78px;
    height: 60px;
    padding-top: 25px;
    color: #dbd6c5;
    text-decoration: none;
    text-align: center;

}

.service .icon-list li i {
    display: block;
    font-size: 20px;
}

.service .icon-list li a:hover {
    color: #fff;
}

/*设置边框*/
.icon-list li:nth-child(1):before,
.icon-list li:nth-child(2):before,
.icon-list li:nth-child(3):before {
    /*    设置内容*/
    content: '';
    /*    开启绝对定位*/
    position: absolute;
    /*    设置边框的大小*/
    width: 66px;
    height: 1px;
    background-color: #665e57;
    bottom: 0;
    left: 6px;
}

.icon-list li:nth-child(1):after,
.icon-list li:nth-child(2):after,
.icon-list li:nth-child(4):after,
.icon-list li:nth-child(5):after {
    /*    设置内容*/
    content: '';
    /*    开启绝对定位*/
    position: absolute;
    /*    设置边框的大小*/
    width: 1px;
    height: 70px;
    background-color: #665e57;
    right: 0;
    top: 7.5px;
}

/*广告图片的样式*/
.service .ad {
    float: left;
    height: 170px;
    width: 316px;
    margin-left: 15px;
}

.service .ad:nth-child(2) {
    margin-left: 14px;
}

.service .ad img {
    width: 100%;
}
