<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选手列表</title>
    <style>
        table,td{
            border-collapse: collapse;
        }
        td{
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<h2>职业选手</h2>
<!--<ul>
    <% for (let i = 0; i < player.length; i++) {%>
    <li><%= player[i] %></li>
    <% } %>
</ul>-->
<table border="1">
    <tr><td>id</td><td>name</td></tr>
    <% for (let i = 0; i < player.length; i++) {%>
        <tr><td><%= player[i].id %></td><td><%=player[i].name%></td></tr>
    <% } %>
</table>
</body>
</html>