/* 公共样式 */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'SourceHanSerifSC Medium', serif;
    background: #272729;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.u-l {
    float: left;
}

.u-r {
    float: right;
}

.u-clearfix::after {
    content: '';
    clear: both;
    display: block;
}
